/* cloud transform to stars animation */
@keyframes stars {
  50% {
    width: 200px;
    height: 150px;
  }
  51% {
    width: 4px;
    height: 4px;
  }
  60% {
    width: 1px;
    height: 1px;
  }
  65% {
    width: 4px;
    height: 4px;
  }
  70%{
    width: 1px;
    height: 1px
  }
  75%{
    width: 4px;
    height: 4px
  }
  80%{
    width: 1px;
    height: 1px
  }
  85% {
    width: 4px;
    height: 4px;
  }
  90%{
    width: 1px;
    height: 1px
  }
  95%{
    width: 4px;
    height: 4px
  }
  100%{
    width: 1px;
    height: 1px
  }
}

/* day transform to night animation */
@keyframes bg-color {
  0%{
  background-color:  #6699cc;
  }
  20% {
   background-color:  #517aa3;
  }
  40% {
   background-color:  #3d5b7a;
  }
  60% {
   background-color:  #283d51;
  }
  80% {
   background-color:  #141e28;
  }
  100%{
    background-color: #0a0f14;
  }
}

/* sun transform to moon animation */
@keyframes round{
  0%{
    background-color:  #ffc922;
  }
  10% {
   background-color:  #ffd964;
  }
  20% {
   background-color:   #f68656;
  }
  30% {
   background-color:  #ffeebc;
  }
  40% {
   background-color: #fff4d2;
  }
  50% {
   background-color:  #ecedef;
  }
  60% {
   background-color:  #e0e2e5;
  }
  70% {
   background-color:  #d4d6db;
  }
  80% {
   background-color: #c8cad1;
  }
  90% {
   background-color: #c2c5cc;
  }
  100%{
    background-color: #C2C5CC;
  }
}

/* house fade animation*/
@keyframes fadein{
    0% { 
      opacity:1; 
    }
    66% { 
      opacity:0.5; 
    }
    100% { 
      opacity:0; 
    }
}

@-webkit-keyframes fadein{
    0% { 
      opacity:1; 
    }
    66% { 
      opacity:0.5; 
    }
    100% { 
      opacity:0; 
    }
}

/* night house display animation*/
@keyframes fadeout{
    0% { 
      opacity:0; 
    }
    50% { 
      opacity:0.4; 
    }
    51% { 
      opacity:0.7; 
    }
    100% { 
      opacity:0.8; 
    }
}

@-webkit-keyframes fadeout{
    0% { 
      opacity:0; 
    }
    50% { 
      opacity:0.4; 
    }
    51% { 
      opacity:0.7; 
    }
    100% { 
      opacity:0.8; 
    }
}

/* road opacity for night animation*/
@keyframes road{
    0% { 
      opacity:1; 
    }
    6% { 
      opacity:0.7; 
    }
    90% { 
      opacity:0.5; 
    }
    100% { 
      opacity:0.4; 
    }
}

@-webkit-keyframes road{
    0% { 
      opacity:1; 
    }
    66% { 
      opacity:0.7; 
    }
    90% { 
      opacity:0.5; 
    }
    100% { 
      opacity:0.4; 
    }
}