@keyframes stars {
  50% {
    width: 350px;
    height: 120px;
  }
  60% {
    width: 1px;
    height: 1px;
  }
  65% {
    width: 3px;
    height: 3px;
  }
  70%{
    width: 1px;
    height: 1px
  }
  75%{
    width: 3px;
    height: 3px
  }
  80%{
    width: 1px;
    height: 1px
  }
  85% {
    width: 3px;
    height: 3px;
  }
  90%{
    width: 1px;
    height: 1px
  }
  95%{
    width: 3px;
    height: 3px
  }
  100%{
    width: 1px;
    height: 1px
  }
}


@keyframes bg-color {
  0%{
  background-color:  #6699cc;
  }
  20% {
   background-color:  #517aa3;
  }
  40% {
   background-color:  #3d5b7a;
  }
  60% {
   background-color:  #283d51;
  }
  80% {
   background-color:  #141e28;
  }
  100%{
    background-color: #0a0f14;
  }
}

@keyframes round{
  0%{
    background-color:  #ffc922;
    /*left:150px*/
  }
  10% {
   background-color:  #ffd964;
  }
  20% {
   background-color:  #ffe490;
  }
  30% {
   background-color:  #ffeebc;
  }
  40% {
   background-color: #fff4d2;
  }
  50% {
   background-color:  #ecedef;
  60% {
   background-color:  #e0e2e5;
  }
  70% {
   background-color:  #d4d6db;
  }
  80% {
   background-color: #c8cad1;
  }
  90% {
   background-color: #c2c5cc;
  }
  100%{
    background-color: #C2C5CC;
    /*left:-290px;*/
  }
}

/*@keyframes change {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}*/

@keyframes change-day {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}

/*@keyframes road {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}*/
